<app-profile-header
    
></app-profile-header>

<form action="" class="profile-form__wrapper" [formGroup]="form">
    <div class="profile-form">
        <div class="two-cols">
            <label class="form-label">
                <span class="form-label__text">First name</span>
                <input type="text" class="form-input" formControlName="firstName">
            </label>
            <label class="form-label">
                <span class="form-label__text">Last name</span>
                <input type="text" class="form-input" formControlName="lastName">
            </label>
        </div>
        <label class="form-label">
            <span class="form-label__text">TG username</span>
            <input type="text" class="form-input" formControlName="username">
        </label>
        <label class="form-label">
            <span class="form-label__text">About me</span>
            <textarea class="form-input form-textarea" formControlName="description"></textarea>
            
        </label>
        <label class="form-label">
            <span class="form-label__text">Avatar</span>
            <app-avatar-upload></app-avatar-upload>

        </label>

        <label class="form-label">
            <span class="form-label__text">Stack</span>
            <input type="text" class="form-input" formControlName="stack">
        </label>
    </div>
    <div>
        <div>
            <button class="btn" (click)="onSave()">Save</button>
        </div>
    </div>
</form>