<form action="" class="profile-search-form__wrapper" [formGroup]="searchForm">
    <div class="profile-search-form">

        <label class="form-label">
            <span class="form-label__text">First name</span>
            <input type="text" class="form-input" formControlName="firstName">
        </label>
        <label class="form-label">
            <span class="form-label__text">Last name</span>
            <input type="text" class="form-input" formControlName="firstName">
        </label>
        <label class="form-label">
            <span class="form-label__text">Skills</span>
            <input type="text" class="form-input" formControlName="stack">
        </label>

    </div>
</form>